<h2>Please enter the Pirate info:</h2>
    <form method="POST" action='/pirates'>
        <label for="pirate">Pirate Name:</label>
        <input type="text" name="pirate[name]" id="pirate"><br>

        <label for="pirate">Pirate Weight:</label>
        <input type="text" name="pirate[weight]" id="pirate"><br>

        <label for="pirate">Pirate Height:</label>
        <input type="text" name="pirate[height]" id="pirate"><br>
        <br>
        <label for="ship_1">Fist Ship Info:</label><br>
        Name:
        <input id="ship_name_1" type="text" name="pirate[ships][][name]" ><br>
        Type:
        <input type="text" name="pirate[ships][][type]" id="ship_type_1"><br>
        Booty:
        <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"><br>
        <br>
        <label for="ship_2">Second Ship Info:</label><br>
        Name:
        <input type="text" name="pirate[ships][][name]" id="ship_name_2"><br>
        Type:
        <input type="text" name="pirate[ships][][type]" id="ship_type_2"><br>
        Booty:
        <input type="text" name="pirate[ships][]booty]" id="ship_booty_2"<br>
        <br>
        <input type="submit" id="Submit">
    </form>